body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Roboto', sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dot {
    stroke: #000;
}
.axis .grid-line{
    opacity: 0.1;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.box {
    font: 10px sans-serif;
    cursor: pointer;
}

.box line,
.box rect,
.box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: none;
    stroke: #ccc;
}
.header-container{
    padding: 0 10px;
}
.main-container{
    padding-bottom: 50px;
}
svg{
    margin: 0 auto;
    position: relative;
    display: block;
}
.well.run-label{
    text-align: center;
    font-weight: bold;
    border-radius: 0;
    padding-top: 79px;
}
.well.run-label span{
    text-transform: capitalize;
}
.chart-container{
    padding-bottom: 50px;
    border: 1px solid #000000;
}
.chart-container .navbar{
    padding-left: 10px;
    padding-right: 10px;
}
.chart-container rect{
    cursor: pointer;
}
.metric-dropdown, .metric-select li a, #run-dropdown{
    text-transform: capitalize;
}